@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,200&display=swap');


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:5px;
}



.data{
   display: flex;
   position:relative;
   flex-direction: column;
   padding: 1em;
}

.professor{
    display: relative;
}

.data a{
    color:gray;
    font-size: large;
    font-family: Poppins;
}

#segunda:hover::after{
    content:"\A < Segunda-Feira > \A\A Turma:3M04\A Hora:20:33:00\A Sala:234";
    white-space: pre;
    text-align: center;
    color:rgb(99, 89, 83);
    width: 200px;
    height: 200px;
    left: 100px;
    bottom:50px;
    position:  absolute;
    background-color: rgb(233, 239, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.242);
    font-family: Poppins;
}

#terca:hover::after{
    content:"\A < Terça-Feira > \A\A Turma:3M04\A Hora:20:33:00\A Sala:234";
    white-space: pre;
    text-align: center;
    color:rgb(99, 89, 83);
    width: 200px;
    height: 200px;
    left: 100px;
    bottom:50px;
    position:  absolute;
    background-color: rgb(233, 239, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.242);
    font-family: Poppins;
}

#quarta:hover::after{
    content:"\A < Quarta-Feira > \A\A Turma:3M04\A Hora:20:33:00\A Sala:234";
    white-space: pre;
    text-align: center;
    color:rgb(99, 89, 83);
    width: 200px;
    height: 200px;
    left: 100px;
    bottom:50px;
    position:  absolute;
    background-color: rgb(233, 239, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.242);
    font-family: Poppins;
}


#quinta:hover::after{
    content:"\A < Quinta-Feira > \A\A Turma:3M04\A Hora:20:33:00\A Sala:234";
    white-space: pre;
    text-align: center;
    color:rgb(99, 89, 83);
    width: 200px;
    height: 200px;
    left: 100px;
    bottom:50px;
    position:  absolute;
    background-color: rgb(233, 239, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.242);
    font-family: Poppins;
}

