*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:5px;
}



.data{
   display: flex;
   position:relative;
   flex-direction: column;
   padding: 1em;
}

.professor{
    display: relative;
}

.data a{
    color:gray;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#segunda:hover::after{
    content:" < Segunda-Feira > \A Hora:20:33:00\A Sala:23 \A\A Hora:18:00:00 \A Sala:324";
    white-space: pre;
    text-align: center;
    color:rgb(60, 58, 58);
    width: 200px;
    height: 200px;
    right: 0px;
    position:  absolute;
    background-color: rgb(233, 239, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

#terca:hover::after{
    content:" < Terça-Feira > ";
    text-align: center;
    color:rgb(60, 58, 58);
    width: 200px;
    height: 200px;
    right: 0px;
    position:  absolute;
    background-color: rgb(233, 239, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

#quarta:hover::after{
    content:" < Quarta-Feira > ";
    text-align: center;
    color:rgb(60, 58, 58);
    width: 200px;
    height: 200px;
    right: 0px;
    position:  absolute;
    background-color: rgb(233, 239, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}


#quinta:hover::after{
    content:" < Quinta-Feira > ";
    text-align: center;
    color:rgb(60, 58, 58);
    width: 200px;
    height: 200px;
    right: 0px;
    position:  absolute;
    background-color: rgb(233, 239, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

