*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.col{
    width: 100%;
    height: calc(100% / 3);
    border:1px solid red;
    height: 100%;
}


.data{
   display: flex;
   position:relative;
}

.professor{
    display: relative;
}

#segunda:hover{
    content:"";
    width: 200px;
    height: 200px;
    right: 100px;
    position:  absolute;
    background-color: brown;
}


#terca:hover{
    content:"";
    width: 200px;
    height: 200px;
    right: 100px;
    position:  absolute;
    background-color: rgb(42, 118, 165);
}



#quarta:hover{
    content:"";
    width: 200px;
    height: 200px;
    right: 100px;
    position:  absolute;
    background-color: rgb(48, 165, 42);
}


#quinta:hover{
    content:"";
    width: 200px;
    height: 200px;
    right: 100px;
    position:  absolute;
    background-color: rgb(165, 153, 42);
}



